@import 'stylesIndex.css'; 

main {
    padding: 2rem 0;

    img {
        width: 100%;
        height: auto;
        border-radius: 0; 
        display: block;
        border: 1px solid var(--colourBorder);
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    address {
        margin: 2.5rem 0 ;

        p {
            padding: 0.5rem 0;

            a {
                color: var(--colourImportant);
                text-decoration: none;
            }
        }
        
    
    }


    fieldset {
        border-radius: 0.5rem;
        border: 1px solid var(--colourBorder);
        padding: 0.4rem;

        legend{
            padding: 0 0.25rem;
        }

        form div {
            display: flex;
            flex-direction: column;
            padding: 0.2rem;

            label{
                font-weight: 500;
            }

            input, textarea{
                margin-top: 0.25rem;
                padding: 0.3rem;
            }
        }

        button{
            background-color: var(--colourHeadlines);
            color: var(--colourButtonForm);
            border-radius: 0.8rem;
            border: none; 
            padding: 0.5rem;
            width: 30%;
            margin-top: 0.2rem;
                    
        }
                    
    }
}



@media (min-width: 700px) {
   section{
    display: block;
   } 
}



@media (min-width: 1000px) {
   section{
    display: flex;
    gap: 1rem; 

    .informationField{
        flex: 2 1 60%;
        display: block;
    }
    .contactMap{
        flex: 1.5 1 40%; 
    }
   } 

   .stylingDesktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input{
            width: 100%;
        }

        label{
            width: 50%;
        }
   }

   textarea {
            height: 5rem;
        }
}

