@import 'index.css'; 

article{
    background-color: var(--colourBgMain) !important;
    margin-bottom: 1rem;
    border-radius: 0.3rem;

    .menuElement{
        padding: 1rem;

        h2{
            text-align: center;
            color: var(--colourHeadlines) !important;;
            margin-bottom: 1rem;
            }

            .price{
                border: 5px solid var(--colourBgNav);
                background-color: var(--colourImportant);
                color: var(--colourButtonFont);
                padding: 0.5rem;
                border-radius: 0.5rem;
                margin-top: 0.5rem;
                width: 25%;
            }
    }

    
}


@media (min-width: 700px) {
    section {
        display: block;

        article {
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;

            .menuElement{
                flex: 1 1 50%;
            }

            .image {
                flex: 1 1 50%;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            

            h2{
                text-align: left;
            }
        }
    }
}


@media (min-width: 1000px) {
    section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        article {
            flex: 1 1 48%;

            .menuElement{
                flex: 1 1 50%;

                .price{
                    width: 45%;
                }
            }

            .image{

                img {
                    object-fit: cover;
                    height: 100%;
                }

            }
            
            
        }
    }
}
